.main {
  position: relative;
  padding: 50px;

  h6, h3, h2 {
    color: #213f7d;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }

  .blocks {
    display: flex;
    align-items: center;
    gap: 30px;

    .first-block {
      align-items: center;
      padding: 20px;
      width: 180px;
      height: 130px;
      border-radius: 10px;
      background-color: #ffffff;
      justify-content: center;
    }
  }

  .filter-section {
    position: absolute;
    left: 0;
    width: 20%;
    z-index: 9;
    display: flex;
    margin-left: 57px;
    margin-top: 150px;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;

    h5 {
      margin: 2px;
      color: #3f4f78;
    }

    .select-dropdown {
      width: 210px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f9f9f9;
      font-size: 12px;
      color: #333;
      cursor: pointer;
    }

    .select-dropdown option:first-child {
      color: #aaa;
    }
    input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #dfe3eb;
      border-radius: 5px;
      color: #3f4f78;

      &:focus {
        outline: none;
        border-color: #213f7d;
      }
    }
    .btn{
      display: flex;
      align-items: center;
      gap: 30px;
    }


    button {
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 10px;
      margin-top: 10px;

      &:first-child {
        background-color: #e0e0e0;
        color: black;
      }

      &:last-child {
        background-color: #39cdcc;
        color: #e0e0e0;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .user-list {
    margin-top: 100px;
    table {
      width: 100%;
      background-color: #ffffff;
      border-collapse: collapse;
      text-align: left;
      font-weight: bold;
      color: #3f4f78;

      thead {
        tr {


          th {
            position: relative;
            padding: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #3f4f78;
            text-align: left;

            .filter-icon {
              width: 16px;
              height: 16px;
              margin-left: 8px;
              cursor: pointer;
              vertical-align: middle;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }

          td {
            padding: 12px;
            font-size: 14px;
            color: #8a91a5;
            border-bottom: 1px solid #dfe3eb;
          }
        }
      }
      .menu-icon {
        width: 20px;
        cursor: pointer;
      }
      .dropdown-menu {
        position: absolute;
        margin-left: -120px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 1000;
        width: 120px;
        height: 60px;
        padding: 10px 5px;
      }
      }

    .status-badge {
      padding: 7px 10px;
      border-radius: 13px;
      font-weight: bold;
      text-align: center;
      display: inline-block;

      &.inactive {
        background-color: #c8c0c2;
        color: #989191;
      }

      &.pending {
        background-color: #fff3e0;
        color: #ff9800;
      }

      &.active {
        background-color: #e8f5e9;
        color: #388e3c;
      }

      &.blacklisted {
        background-color: #e3c2c2;
        color: #d32f2f;
      }
    }
  }
}
