.left-side-bar{
  display: flex;
  padding: 20px;
  flex-direction: column;

  .img-txt{
    display: flex;
    gap: 10px;
    color: #586f9d;
    align-items: center;
  }
  img{
    width: 15px;
    height: 15px;
  }
  .dropdown-toggle {
    cursor: pointer;
    transition: transform 0.3s ease;

    // Rotate when open
    &.open {
      transform: rotate(180deg);
    }
  }
  .dropdown-content{
    display: flex;
    gap: 10px;
    color: #586f9d;
    align-items: center;

    .dropdown-link {
      display: flex;
      gap: 10px;
      align-items: center;
      text-decoration: none;
      color: inherit;
      transition: background-color 0.3s;
    }
  }
  h6{
    color: #586f9d;
  }
  .dropdown-content2{
    display: flex;
    gap: 10px;
    margin-top: -25px;
    color: #586f9d;
    align-items: center;
  }
  .dropdown-content3{
    display: flex;
    gap: 10px;
    margin-top: -20px;
    color: #586f9d;
    align-items: center;
  }
  .dropdown-content4{
    display: flex;
    gap: 10px;
    margin-bottom: -90px;
    color: #586f9d;
    align-items: center;
  }
}
